
#caixa {
	width: 300px;
	height: 300px;
	/*background:  url("../imagens/camera.png");
	*/
	/*background: linear-gradient(120deg, #CCC, yellow, red);
	*/
	background: radial-gradient( #8A0886, yellow, red);
	}

#caixa h1 {
	background: rgba(255, 255, 255, 0);
	/*rgba adds a 4th opacity paramater*/

}